<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <div class="list">
        <label class="item-input">
          <input type="text" placeholder="Restaurant">
        </label>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" placeholder="Price">
          </label>
          <button class="button button-small button-assertive icon ion-minus"></button>
          <button class="button button-small button-balanced icon ion-plus"></button>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" placeholder="Price">
          </label>
          <button class="button button-small button-assertive icon ion-minus"></button>
          <button class="button button-small button-balanced icon ion-plus"></button>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" placeholder="Price">
          </label>
          <button class="button button-small button-assertive icon ion-minus"></button>
          <button class="button button-small button-balanced icon ion-plus"></button>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" placeholder="Price">
          </label>
          <button class="button button-small button-assertive icon ion-minus"></button>
          <button class="button button-small button-balanced icon ion-plus"></button>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" placeholder="Price">
          </label>
          <button class="button button-small button-assertive icon ion-minus"></button>
          <button class="button button-small button-balanced icon ion-plus"></button>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
